setuptools>=65.5.1
treelib>=1.6.1
deap>=1.3.3
numpy>=2.0.1
matplotlib>=3.9.1
pandas>=2.2.2
scipy>=1.14.0
ortools>=9.10.4067
nh3~=0.2.18
pillow~=10.4.0
pip~=24.2
wheel~=0.44.0
docutils~=0.21.2
pytz~=2024.2
rich~=13.7.1
Pygments~=2.18.0
zipp~=3.20.0
importlib_metadata~=8.3.0
pyproject_hooks~=1.1.0
build~=1.2.2
mdurl~=0.1.2
colorama~=0.4.6
metku~=0.1.20
pytest~=8.3.3
twine~=5.1.1
keyring~=25.3.0
readme_renderer~=44.0
requests~=2.32.3
rfc3986~=2.0.0
pkginfo~=1.10.0
urllib3~=2.2.2
python-dateutil~=2.9.0.post0
pluggy~=1.5.0
iniconfig~=2.0.0
certifi~=2024.7.4
immutabledict~=4.2.0
idna~=3.7
six~=1.16.0
contourpy~=1.3.0
fonttools~=4.53.1
pyparsing~=3.1.4
cycler~=0.12.1
packaging~=24.1
kiwisolver~=1.4.7